/*<!--------------------------------------------------Navbar-----------------------------------------------*/
#li1:hover{
	background-color: black;
	transition-duration:  0.8s;
	transition-timing-function: ease-in;
}

#li3:hover{
	background-color: black;
	transition-duration:  0.8s;
	transition-timing-function: ease-in;
}


#li2:hover{
	background-color: black;
	transition-duration:  0.8s;
	transition-timing-function: ease-in;
}
#li4:hover{
	background-color: black;
	transition-duration:  0.8s;
	transition-timing-function: ease-in;
}


/*<!--------------------------------------------------SLIDER----------------------------------------------->*/

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }
#cls3
{
	width: 100%;
	height: auto;
	
}
#cls2
{
	width: 100%;
	height: auto;
 filter: contrast(80%);
 
	
}
#cls1
{
	width: 100%;
	height: auto;
}
#cls55
{
	height: 100px;
}


#ptag
{
	padding-top: 15px;
	font-size: 1.5em;
}

li
{
	margin-right: 20px;
}

.helpers
{
	width: 200px;
	height:auto;
	border-radius: 50% 50%;
	margin-left: 50px;
	transition: transform 0.5s; 
}
.helpers:hover
{
	transform: translateY(-5px);
	cursor: pointer;
}

.btn-danger
{
	border-radius: 200px;
	margin-left: 50%;
	margin-right: 40px;
	letter-spacing: 0.06em;
	width: 250px;

}
.btn-success
{
	border-radius: 200px;
	width: 250px;
}


/*<!--------------------------------------------------Footer----------------------------------------------->*/




.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}

.site-footer h2
{
  color:#fff;
  font-size:18px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.copyright-text
{
  margin:0
}


.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.foootimg
{margin-top:10px;
margin-bottom:20px;
height:110px;

margin-left: 45%;
}

/*<!---------------------popup----------------------->*/

.open-button {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 70px;
  border-radius: 50% 50%;
}


.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}


.form-container {
 max-width: 300px;
  padding: 10px;
  background-color: white;
}


.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}


.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}


.form-container .btn {
 
  color: white;
 font-size: 18px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  letter-spacing: 0.06em;
 
}


.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.cross
{
   position:absolute;
   top:0;
   right:0;
   border:none;
   background-color: transparent;

}





/*<!--------------------------------------------------MediaQuery----------------------------------------------->*/




@media(max-width: 768px)
{
	#cls1{margin-left: 0px;
		max-width:100%;
    height:auto;

	}
	#cls2{margin-left: 0px;
		max-width:100%;
    height:auto;
	}
	#cls3{margin-left: 0px;
		max-width:100%;
    height:auto;
	}
}

@media(max-width: 488px)
{
	#hh1
	{
		font-size: 15px;
	}
	#hh2
	{
		font-size: 12px;
		font-weight: bolder;
	}
	#hh3
	{
		font-size: 12px;
		font-weight: bolder;
	}
	#hh33
	{
		font-size: 10px;

	}
	#hh22
	{
		font-size: 10px;

	}
	#cls1
	{
		
		filter: contrast(80%);
	}
#cls2
	{
		
		filter: contrast(70%);
	}
	#cls3
	{
		
		filter: contrast(60%);
	}

}


@media(min-width: 588px) and (max-width: 679px)
{
	#hh1
	{
		font-size: 18px;
	}
	#hh2
	{
		font-size: 15px;
		font-weight: bolder;
	}
	#hh3
	{
		font-size: 15px;
		font-weight: bolder;

	}
	#hh33
	{
		font-size: 13px;

	}
	#hh22
	{
		font-size: 13px;

	}
}


@media(min-width: 488px) and (max-width: 588px)
{
	#hh1
	{
		font-size: 16px;
	}
	#hh2
	{
		font-size: 14px;
		font-weight: bolder;
		
	}
	#hh3
	{
		font-size: 14px;
		font-weight: bolder;

	}
	#hh33
	{
		font-size: 12px;
		
		

	}
	#hh22
	{
		font-size: 12px;

	}
	#cls1
	{
		
		filter: contrast(80%);
	}
#cls2
	{
		
		filter: contrast(70%);
	}
	#cls3
	{
		
		filter: contrast(60%);
	}

}

@media(min-width:319px) and (max-width: 375px)
{
	#hh3
	{
		font-size: 10px;
		font-weight: bolder;

	}
	#hh33
	{
		font-size: 8px;
		
		

	}
#cls1
	{
		
		filter: contrast(80%);
	}
#cls2
	{
		
		filter: contrast(70%);
	}
	#cls3
	{
		
		filter: contrast(60%);
	}
}

@media(min-width: 576px) and (max-width: 767px)
{
	#li1
	{
		font-size: small;
	}

	#li2
	{
		font-size: small;
	}
	#li3
	{
		font-size: small;
	}
	#li4
	{
		font-size: small;
	}

	#ultag
	{
		font-size: small;
	}

#h21
{
	font-size: x-small;
	
	
}
#h211
{
	font-size:small;
	
	
}#h22
{
	font-size: x-small;
	
	
}#h222
{
	font-size: small;
	
	
}#h23
{
	font-size: x-small;
	
	
}#h233
{
	font-size: small;
	
	
}#h24
{
	font-size: x-small;
	
	
}#h244
{
	font-size: small;
	
	
}#h25
{
	font-size: x-small;
	
	
}#h255
{
	font-size: small;
	
	
}

}




@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}



@media(min-width: 576px) and (max-width: 991px)

{
	#hrtag
	{
		margin-left: 20%;

	}

	#txtar
	{
		width: 80%;
	}

	
}



}









